*.jpg
*.jpeg
*/balanced_pneumonia*
*logs*
*results*
*Task01_BrainTumour*
*.pth*
*tfevents*
*.png*
*.roi*
*.tif*
*.mat*
*.db*
*muscle*
segmentation_efficientsam_histological/EfficientSAM/
segmentation_efficientsam_histological/__pycache__/